@model GameLibrary.Models.Tag

@{
    ViewData["Title"] = "Edytuj tag";
}

<h1>Edytuj tag</h1>

<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="Name" class="form-label">Nazwa tagu</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-warning">Zapisz zmiany</button>
    <a asp-action="Index" class="btn btn-secondary">Anuluj</a>
</form>
